
<h1>"Dude, Where's my Burger?"</h1>

{{!-- not sleepy --}}

<div class="container">
<div class="row">
<div class="col-md-4" id="uneaten">

<h2>"Let me have a......"</h2>
<div class="form-section">
<ol class="burgerList">
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ol>   
</div>
</div>


{{!-- decide on the numbers  --}}


<div class="col-md-4" style="padding-top: 300px" id="middle">
<form class="create-form">

  <div class="form-group">
    <img class="img" src=""> 
    <label for="ca">Place Order Here:</label>
    <input type="text" id="ca" name="name" autocomplete="off">
    <input style="display: none" type="radio" name="sleepy" value="1" checked><br>
    <button type="submit" class="lg">Add A Burger</button>
  </div>

</form>
</div>

{{!-- class: hidden CHECK THE BOOTSTRAP --}}
{{!-- sleepy --}}

<div class="col-md-4" id="devoured">
<h2 id="dvd" >Devoured!</h2> 
<div class="form-section">
<ol>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ol>
</div> 
</div>
</div>
</div>


