body {
    background-color: goldenrod;
    background-image: url(burgerDT.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  li {
   
    color: goldenrod;
    font-size: 12px;
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 2px;
    /* list-style-type: none; */
    /* background: #faebd7; */
  }

  .burgerList li{
    list-style-type: none;
  
  }
  
  ul {
  font-family: arial;
  list-style-type: none;
  
  
  }
  
  label {
    font-weight: bold;
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .form-group {
    margin-bottom: 5px;
    margin-top: 15%;
   
  }
  
  h1 {
  color: goldenrod ! important;
  margin-left: 30%;
  font-weight: bold;
  margin-bottom: 2% ! important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }
  
  h4 {
    color: goldenrod  ! important;
    margin-top: 15%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
    }
  
   button {
    color: gray;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 18%;
    padding: 5px;
    background-color: white;
    border-width: 0;
    }
  
    footer {
      font-family: arial;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      font-size: 12px;
      color: white;
      text-align: center;
  
    }

    .devour {
      cursor: pointer;
      border: 1px solid gray;
      padding: 2px;
    }
  

    .form-section {

      background-color: white;
      width: 300px;
      border: solid 2px goldenrod;
    }
  
    